{% extends 'Note/base.html' %}

{% block content %}
<h2 class="mt-5" style="border-bottom: 3px solid rgba(218,218,218,1); color:#204969;">一覧</h2>

<table class="table table-hover md-4 mt-4">
  <caption>{{book_pk}}</caption>
  <thead class="sticky-top">
    <tr>
      <th>問題</th>
      <th>答え</th>
      <th>カテゴリー</th>
      <th>音声</th>
    </tr>
  <tbody>
    {% for post in post_list %}
    <tr>
      <th>{{post.question}}</th>
      <th>{{post.answer}}</th>
      <th>{{post.category}}</th>
      <th><button id="button" class="btn btn-outline-secondary" onclick="pronounce('{{post.question}}')">再生</button></th>
    </tr>
    {% endfor %}

  </tbody>
  </thead>

</table>

{% include 'Note/page.html' %}
<script type="text/javascript">
  'use strict'

  function pronounce(word){
    let u = new SpeechSynthesisUtterance();
    u.lang = 'en-US';
    u.text = word;
    speechSynthesis.speak(u);
  }
</script>
{% endblock %}